/* 全体のスタイル */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

/* ヘッダーのスタイル */
header {
    background-color: hsl(353, 85%, 49%);
    color: white;
    padding: 14px 24px;
    text-align: center;
}
footer {
    background-color: hsl(353, 85%, 49%);
    color: white;
    padding: 14px 24px;
    text-align: center;
    list-style: none;
}

footer a {
    color: white; /* リンクの文字色を白に設定 */
}

footer a:hover {
    text-decoration: underline; /* ホバー時に下線を表示（任意） */
}

#date-string,
#current-time {
    font-size: 2em;
}

#current-shindo-jma, #current-shindo {
    font-size: 10em;
    font-weight: bold;
    padding: 10px;
    border-radius: 16px;
    min-width: 220px;
    text-align: center;
    margin: 0 24px;
    border: 3px solid #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: block;
}
#current-shindo{
    font-size: 7em !important;
}

/* コントロールエリアのスタイル */
#controls {
    margin: 18px 24px;
    text-align: center;
}

#wsUrl {
    font-size: 1em;
    padding: 6px 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 280px;
}

#connectBtn {
    font-size: 1em;
    padding: 6px 18px;
    border-radius: 5px;
    border: none;
    background: #23c32b;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-left: 8px;
}

/* グラフコンテナのスタイル */
.graph-container {
    height: 50vh;
    margin: 32px 24px 0;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(100, 116, 139, 0.07);
    position: relative;
    padding: 10px;
}

.graph-container-shindo {
    height: 30vh;
    margin: 32px 0px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(100, 116, 139, 0.07);
    position: relative;
    padding: 10px;

}

.graph-container-accel {
    height: 20vh;
    margin: 32px 10px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(100, 116, 139, 0.07);
    position: relative;
    padding: 10px;
}

/* 見出しのスタイル */
h1{
    color: white;
    font-size: 5em;
    font-weight: 900;
}
h2 {
    color: hsl(353, 85%, 49%);
    font-size: 1.8em;
    margin: 10px 0 10px 24px;
    position: relative;
}

h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: hsl(353, 85%, 49%);
    margin-top: 5px;
}

h3 {
    color: hsl(353, 85%, 49%);
    font-size: 1.5em;
    margin: 8px 0 8px 24px;
}

/* テーブルのスタイル */
#accelTable {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}

#accelTable th, #accelTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

#accelTable th {
    background-color: hsl(353, 85%, 49%);
    color: #fff;
}